<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ND's Compiler</title>
</head>
<body>
    <div id = "navbar">
        <div id = "logo">Nimit's <strong id = "cpp" style="color:rgb(6, 39, 34);">C++</strong> Compiler</div>
        <!-- <a href = "login.ejs" id="login">Login</a> -->
        <!-- <img src = "m.png" height="40px" width="40px" onclick="modefun()" id="mode"></img> -->
        <!-- <ul id = "options">
            <li>Skills</li>
            <li>Achievements</li>
            <li>Experience</li>
        </ul>
        <div id = "menu" onclick="show()">
            <div class = "line"></div>
            <div class = "line"></div>
            <div class = "line"></div>
        </div> -->
    </div>
    <%var userInput%>
    <%var code%>
    <%var userOutput%>
   
            <form  method="post">
                <textarea placeholder="Write your code here" class = "col" name="codePart" id="codePart" ><% if(code!=null)%><%=code%></textarea>
                <!-- <input type="tex t" name="lang" id = "lang">  -->
                <div id="io">
                    <textarea placeholder="No input" class = "col" name="input" id="inputbox" ><%if(userInput!=null)%><%=userInput%></textarea>
                    <textarea placeholder="No Output" class = "col" id="output"><% if(userOutput!=null) %><%=userOutput%></textarea>
                </div>   
                <input onclick="fun()" type="image" src = "submit.png"name="submit" id="submit">
            </form>
    <div id = "footer" > The C++ Compiler is created by Nimit Didwania</div>
        <script src = "script.js"></script>
</body>
</html>